html {
	height: 100%;
}

body {
	height: 100%;
	font-size: medium;
	font-family: 'Overlock', cursive;
	/*padding-top: 50px;*/
}

.section {
	margin: 0 auto;
}

.section:nth-of-type(even) {
	/*background: rgba(21, 226, 132, 0.77);*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#ededed', GradientType=1); /* IE6-9 */
	border-bottom: 10px solid #E2DEDE;
}

.section:nth-of-type(odd) {
	/*background: rgba(55, 187, 83, 0.65);*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2ebf9+0,feffff+100 */
	background: #d2ebf9; /* Old browsers */
	background: -moz-linear-gradient(left, #d2ebf9 0%, #feffff 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #d2ebf9 0%, #feffff 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #d2ebf9 0%, #feffff 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9',
		endColorstr='#feffff', GradientType=1); /* IE6-9 */
	border-bottom: 10px solid #D2EBF9;
}

#home {
	background: url("../images/header.jpg");
	height: 100vh;
	text-align: center;
	margin: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.homeCenter {
	top: 20vh;
	position: relative;
}

#homeMain {
	padding-top: 3vh;
}

#homeMain p {
	font-weight: bold;
	font-size: 3.75em;
	color: #00322b;
	letter-spacing: 8px;
	text-shadow: 2px 2px rgba(237, 234, 208, 0.72);
}

#homeMain div {
	font-size: 1.35em;
	font-weight: bold;
	letter-spacing: 0.5px;
	color: #fdf7dae6;
	text-shadow: 2px 2px 20px rgb(0, 50, 43);
	background: linear-gradient(to right, rgba(83, 117, 111, 0.09) 0%, rgba(83, 117, 111, 0.33) 50%, rgba(83, 117, 111, 0.66) 100%);
}

#homeDetails {
	padding-top: 20vh;
	font-size: large;
	font-weight: bold;
}

#homeDetails a {
	cursor: pointer;
	color: rgba(88, 4, 28, 0.85);
}

#iconsHolder .homeIcons {
	font-size: xx-large;
}

.homeIcons a i {
	color: #58041c;
}

#homeDetails a i:hover {
	color: rgba(255, 253, 247, 0.9);
}

#homeDetails a:hover {
	color: rgba(255, 253, 247, 0.9);
}

.navFirst {
	/* background: transparent; */
	background: linear-gradient(to right, rgba(43, 108, 113, 0.08) 0%, rgba(3, 33, 36, 0.39) 50%, rgba(2, 72, 73, 0.75) 100%);
}

.navScroll {
	background: linear-gradient(to right, #45484d 0%, #000000 100%);
}

.navScroll ul.nav li a {
	color: rgb(254, 255, 255) !important;
}

.navbar-default {
	border-color: transparent;
}

#menuNav {
	text-align: center;
	width: 100%;
}

#menuNav li {
	/*padding-left: 25px;
    padding-right: 25px;*/
	float: none;
	font-weight: bolder;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 2px;
	/*background: orange;*/
}

.navFirst ul.nav li a {
	color: rgb(254, 252, 243);
	font-size: medium;
}

#menuNav li:hover {
	background: rgba(184, 230, 49, 0.92);
}

#menuNav .active a {
	/*background: #77D0EA;*/
	color: rgba(184, 230, 49, 0.92) !important;
	background: transparent;
}

#profileImage {
	height: 33vh;
	width: 33vh;
	background-color: rgba(21, 17, 17, 0.65);
	border: 1px solid transparent;
	border-radius: 15vh;
}

#about {
	margin: 0 auto;
	width: 100%;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

#about .container {

}

#aboutNow {
	text-align: center;
	padding: 10px;
	top: 1vh;
}

#aboutDetails {
	padding: 10px;
	line-height: 30px;
	top: 1vh;
}

#aboutDetails p {
	width: 75%;
	margin: 0 auto;
}

#aboutMe {
	text-align: center;
	padding: 10px;
}

.section h2 span {
	border-bottom: 3px solid #11ABB0;
	padding-bottom: 6px;
}

h3 span {
	border-bottom: 3px solid #11ABB0;
	padding-bottom: 6px;
}

#education {
	margin: 0 auto;
	width: 100%;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

#eduDetails {
	margin: 0 auto;
	/*background-color: teal;
	width: 60%;*/
}

#eduDetails tr {
	background: rgba(17, 171, 176, 0.49);
	border: 2px solid rgba(15, 75, 115, 0.78);
}

#eduDetails td {
	padding: 10px 10px;
}

#courses {
	margin: 0 auto;
	width: 70%;
	color: rgba(250, 235, 215, 0.88);
}

#ugcourse, #pgcourse {
	background-color: #d9534f;
	border-color: #d43f3a;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
	float: left;
}

#projects {
	padding-top: 10vh;
	padding-bottom: 10vh;
	margin: 0 auto;
	width: 100%;
}

#contact {
	padding-top: 10vh;
	padding-bottom: 10vh;
	margin: 0 auto;
}

#card {
	display: inline-block;
	margin: 7px;
	width: 32%;
	background: #B0F0F7;
	padding: 15px;
	border-radius: 20px;
	box-shadow: 2px 5px rgba(111, 184, 218, 0.82);
}

#cardWeb {
	display: inline-block;
	margin: 7px;
	width: 60rem;
	background: #B0F0F7;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 2px 5px rgba(111, 184, 218, 0.82);
}

#cardCloud {
	display: inline-block;
	margin: 7px;
	width: 40rem;
	background: #B0F0F7;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 2px 5px rgba(111, 184, 218, 0.82);
}

#card div, .cardTitle {
	background: rgba(142, 226, 234, 0.71);
	padding: 2px;
	text-align: center;
	border-radius: 15px;
	border: 1px solid rgba(57, 228, 149, 0.91);
}

#card div:hover, .cardTitle:hover {
	background-color: rgba(57, 228, 149, 0.91);
}

a:hover {
	text-decoration: none;
}

#cardsColumn {
	display: block;
	margin: 0 auto;
	/* text-align: center; */
	width: 95%;
}

#cardsText {
	text-align: left;
	padding: 15px;
	line-height: 25px;
}

.webProjs {
	height: 105px;
	width: 150px;
	border: 1px solid #6CD8D2;
	position: relative;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);
}

.webProjs:hover {
	box-shadow: 0px 0px 50px rgba(10, 132, 171, 0.85);
	z-index: 1;
	-webkit-transition: all 300ms ease-in;
	-webkit-transform: scale(1.5);
	-ms-transition: all 300ms ease-in;
	-ms-transform: scale(1.5);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.5);
	transition: all 300ms ease-in;
	transform: scale(1.2);
}

#imagesHolder {
	display: inline-block;
	padding: 12px;
}

#imagesHolder a {
	position: relative;
}

#imagesHolder span {
	position: absolute;
	left: 0;
	text-align: center;
	bottom: 0;
	font-weight: bold;
	color: rgba(7, 23, 35, 0.82);
	background: rgba(176, 240, 247, 0.85);
	width: 100%;
}

#cardWeb>div {
	text-align: center;
	padding: 15px 0px 15px 0px;
}

.card ul li {
	padding: 2px;
	list-style-type: square;
	color: rgba(15, 16, 17, 0.8);
}

.card ul a:link {
	text-decoration: underline;
}

.card ul a:hover {
	color: rgba(57, 228, 149, 0.91);
	text-decoration: underline;
}

.card ul li span {
	color: black;
}

#contactDetails {
	padding-left: 5vh;
	font-size: large;
}

.iconsimg {
	width: 40px;
	height: 40px;
}

.iconsimg:hover {
	-webkit-transition: all 100ms ease-in;
	-webkit-transform: scale(1.2);
	-ms-transition: all 100ms ease-in;
	-ms-transform: scale(1.2);
	-moz-transition: all 100ms ease-in;
	-moz-transform: scale(1.2);
	transition: all 100ms ease-in;
	transform: scale(1.2);
}

#iconsHolder {
	display: block;
}

#iconsHolder>div {
	display: inline-block;
	padding: 2vh;
	text-align: center;
	margin: 5px;
}

#iconsHolder>div div:nth-of-type(even) {
	padding: 5px;
}

#contact #iconsHolder {
	padding: 20px;
}

.contactImg {
	height: 22px;
	width: 22px;
}

.glyphicon {
	font-size: large;
}

#experience {
	padding-top: 10vh;
	padding-bottom: 10vh;
	width: 100%;
	margin: 0 auto;
}

#experience ul {
	margin: 0 auto;
	width: 55%;
	/*	 list-style-type: decimal;  */
}

#experience li {
	line-height: 25px;
}

#experience hr {
	display: block;
	height: 1px;
	border-top: 1px solid #d2ebf9;
	margin: 1em 0;
	padding: 0;
}

#expDetails {
	margin: 0 auto;
	width: 50%;
	background: linear-gradient(to right, rgba(241, 231, 103, 1) 0%,
		rgba(254, 182, 69, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#expDetails th {
	background: chocolate;
	text-align: center;
	padding: 3px;
}

#expTech {
	margin: 0 auto;
	width: 65%;
}

#expDetails td {
	padding: 5px;
}

#expDetails tr td:nth-of-type(odd) {
	text-align: left;
}

#expDetails tr td:nth-of-type(even) {
	text-align: right;
}

#expDesc li div {
	font-size: smaller;
	font-style: italic;
}

#skills {
	padding-top: 10vh;
	padding-bottom: 10vh;
	width: 100%;
	margin: 0 auto;
}

.skillsPlace {
	width: 65%;
	margin: 0 auto;
	background: linear-gradient(to right, rgba(254, 255, 232, 1) 0%,
		rgba(214, 219, 191, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.skillsPlace div.container-fluid {
	width: 100%;
	padding: 20px;
	border-bottom: 8px solid rgba(0, 0, 0, 0.33);
}

.skillSets {
	display: inline-block;
	padding: 4px;
	background: rgba(93, 175, 247, 0.68);
	color: #202121;
	border-radius: 5px;
	margin: 5px;
	font-weight: bold;
}

.skillType {
	font-size: medium;
	font-weight: bold;
}

.end {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2ebf9+0,feffff+100 */
	background: #d2ebf9; /* Old browsers */
	background: -moz-linear-gradient(left, #d2ebf9 0%, #feffff 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #d2ebf9 0%, #feffff 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #d2ebf9 0%, #feffff 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9',
		endColorstr='#feffff', GradientType=1); /* IE6-9 */
	text-align: center;
	margin: 0 auto;
}

.end a {
	color: black;
	cursor: pointer;
}

.end a:hover {
	color: #00B8ED;
}

footer {
	border-top: 3px solid #00B8ED;
	box-shadow: 1px 1px 1px 1px #3091BB;
	height: 100px;
	background: rgb(10, 11, 12);
	text-align: center;
	color: whitesmoke;
	font-size: large;
	padding: 5px;
}

#share {
	padding: 5px;
}

#share span {
	display: inline-block;
	vertical-align: middle;
}

#share>span {
	font-size: small;
}

@media screen and (max-width: 1000px) {
	#profileImage {
		height: 25vh;
		width: 25vh;
		background-color: rgba(37, 18, 18, 0.15);
		border: 1px solid transparent;
		border-radius: 8vh;
	}
	.section:nth-of-type(odd) {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
			endColorstr='#ededed', GradientType=0); /* IE6-9 */
	}
	.section:nth-of-type(even) {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2ebf9+0,feffff+100 */
		background: #d2ebf9; /* Old browsers */
		background: -moz-linear-gradient(top, #d2ebf9 0%, #feffff 100%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(top, #d2ebf9 0%, #feffff 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #d2ebf9 0%, #feffff 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9',
			endColorstr='#feffff', GradientType=0); /* IE6-9 */
	}
	#menuNav {
		width: initial;
	}
	#menuNav li {
		letter-spacing: 1px;
	}
	#menuNav a {
		font-size: small;
	}
	.homeCenter {
		top: 18vh;
	}
	#card, #cardCloud {
		width: initial;
	}
	#cardWeb {
		width: initial;
		height: 350px;
		overflow-y: scroll;
	}
	#cardsText {
		line-height: 25px;
	}
	.webProjs {
		height: 75px;
		width: 115px;
	}
	#homeDetails {
		font-size: medium;
		padding-top: 12vh;
	}
	#homeMain {
		font-size: x-large;
		padding-top: 2vh;
	}
	#homeMain p {
		font-size: 1.1em;
		letter-spacing: 4px;
	}
	#homeMain div {
		font-size: medium;
	}
	#iconsHolder .homeIcons {
		font-size: 1.1em;
	}
	#iconsHolder>div {
		padding: 2px;
	}
	#iconsHolder {
		text-align: center;
	}
	#aboutDetails p {
		width: initial;
	}
	#courses {
		width: initial;
	}
	.skillsPlace {
		width: initial;
	}
	#expDetails {
		width: initial;
	}
	#expDetails th {
		padding: 10px;
	}
	#experience ul {
		width: initial;
	}
}
